body {
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 48px 0;
  background-color: #343a40;
}

.sidebar .nav-link {
  color: #ffffff;
}

.sidebar .nav-link:hover {
  color: #007bff;
}

.container-fluid {
  padding-left: 260px; /* Deja espacio para la barra lateral */
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

main {
  padding: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    display: none; /* Oculta la barra lateral en pantallas pequeñas */
  }

  .container-fluid {
    padding-left: 0; /* Elimina el espacio para la barra lateral */
  }

  main {
    padding: 10px; /* Reduce el padding para pantallas pequeñas */
  }
}
