body {
  font-family: Arial, sans-serif;
}

h1, h2, h3{
  font-size: 28px;
  font-weight: bold;
}

h2, h3{
  color:#033163
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 48px 0;
  background-color: #343a40;
}

.sidebar .nav-link {
  color: #ffffff;
}

.sidebar .nav-link:hover {
  color: #007bff;
  cursor: pointer;
}

.container-fluid {
  padding-left: 260px;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

main {
  padding: 20px;
}

.profile {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  background-color: #586973;
  transition: background-color 0.3s ease;
}

.social-icon i {
  font-size: 24px;
  color: #fff;
}

.social-icon:hover {
  background-color: #0077b5; 
}

.profile-img {
  width: 150px;
  height: 150px;
}

.nav.flex-column {
  padding-left: 15px; 
  padding-top: 20px;
  font-size: 18px;
}

.about-img {
  width: 1000px;
  max-width: auto;
}

.custom-bold {
  font-weight: bold;
  font-size: 12px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .container-fluid {
    padding-left: 0;
  }

  main {
    padding: 10px;
  }
}
